<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DataRunner.CountryTown" >

    <!--인터넷 접근-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".LicenseActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".MakerActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".Detail" android:parentActivityName=".MainActivity" />
        <activity android:name=".InfoActivity" android:parentActivityName=".MainActivity" />
    </application>

</manifest>